In [1]:
# Dependencies
import pandas as pd

In [39]:
# check for station inclusion od prcp data by year
year = 2023
stns = pd.read_csv(f'outputs/prcp/{year}/CA_{year}_stns.csv')['station'].to_list()
df = pd.read_csv('outputs/prcp/ghcnd-stations.csv')
r = [x for x in stns if not x in df['station'].to_list()]
len(r)

0

In [40]:
df_yr = df[df['station'].isin(stns)].reset_index(drop=True)
df_yr

,station,lat,lon,elev,name
0,US1CAAL0001,37.8123,-122.2160,113.4,CA PIEDMONT 1.0 SE
1,US1CAAL0003,37.7169,-122.0585,163.4,CA CASTRO VALLEY 0.4 NNE
2,US1CAAL0004,37.6483,-121.8745,107.0,CA PLEASANTON 1.8 SSE
3,US1CAAL0006,37.8319,-122.2503,58.2,CA OAKLAND 4.4 NNW
4,US1CAAL0011,37.6821,-122.1332,9.1,CA SAN LORENZO 0.5 NNW
...,...,...,...,...,...
1129,USW00093241,38.3775,-121.9586,31.7,CA VACAVILLE/NUT TREE AP ASOS
1130,USW00093242,36.9850,-120.1106,76.5,CA MADERA MUNI AP
1131,USW00093243,37.2381,-120.8825,23.8,CA MERCED 23 WSW CRN
1132,USW00093245,38.3208,-123.0747,19.2,CA BODEGA 6 WSW CRN
1133,USW00094299,41.4836,-120.5614,1335.9,CA ALTURAS MUNI AP

In [41]:
df_yr.to_csv(f'outputs/prcp/{year}/CA_{year}_coords.csv',index=False)