In [4]:
import pandas as pd

In [19]:
# Open .txt file from NOAA with all weather stations for daily summaries
stns_txt = open('resources/ghcnd-stations.txt', 'r')
lines = stns_txt.readlines()
lines[-1]

'ZI000067991 -22.2170   30.0000  457.0    BEITBRIDGE                             67991\n'

In [23]:
# Parse .txt file into a dataframe and do some string cleanup
df = pd.DataFrame([x.split(maxsplit=4) for x in lines], columns=['station','lat','lon','elev','name'])
df['name'] = df['name'].str.rstrip(to_strip='\n')
df = df.sort_values(by=['station'])
df

,station,lat,lon,elev,name
0,ACW00011604,17.1167,-61.7833,10.1,ST JOHNS COOLIDGE FLD
1,ACW00011647,17.1333,-61.7833,19.2,ST JOHNS
2,AE000041196,25.3330,55.5170,34.0,SHARJAH INTER. AIRP GSN 41196
3,AEM00041194,25.2550,55.3640,10.4,DUBAI INTL 41194
4,AEM00041217,24.4330,54.6510,26.8,ABU DHABI INTL 41217
...,...,...,...,...,...
125983,ZI000067969,-21.0500,29.3670,861.0,WEST NICHOLSON 67969
125984,ZI000067975,-20.0670,30.8670,1095.0,MASVINGO 67975
125985,ZI000067977,-21.0170,31.5830,430.0,BUFFALO RANGE 67977
125986,ZI000067983,-20.2000,32.6160,1132.0,CHIPINGE GSN 67983
125987,ZI000067991,-22.2170,30.0000,457.0,BEITBRIDGE 67991

In [25]:
# Output dataframe to csv
df.to_csv('outputs/prcp/ghcnd-stations.csv',index=False)