In [123]:
# Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import hvplot.pandas
import geopandas as gpd
import xarray as xr
from datetime import datetime
from api_key import nasa_key
import netCDF4 as nc4
import requests

In [156]:
dt = '20230501'

In [166]:
nc = nc4.Dataset(f"../resources/GPM_3IMERGM_DAY/{dt[0:4]}/3B-DAY.MS.MRG.3IMERG.{dt}-S000000-E235959.V07B.nc4.nc4")

In [167]:
nc.variables.keys()

dict_keys(['MWprecipitation', 'precipitation', 'lat', 'lon', 'time'])

In [168]:
# extract lat/lon values (in degrees)
lons = nc.variables['lon']
lats = nc.variables['lat']
prcp = nc.variables['MWprecipitation']
prcp

<class 'netCDF4._netCDF4.Variable'>
float32 MWprecipitation(time, lon, lat)
    units: mm/day
    long_name: Daily mean High Quality precipitation rate from all available microwave sources. Formerly HQprecipitation.
    coordinates: time lon lat
    _FillValue: -9999.9
    origname: MWprecipitation
    fullnamepath: /MWprecipitation
unlimited dimensions:
current shape = (1, 105, 97)
filling on

In [174]:
lats[:].data

array([32.45, 32.55, 32.65, 32.75, 32.85, 32.95, 33.05, 33.15, 33.25,
       33.35, 33.45, 33.55, 33.65, 33.75, 33.85, 33.95, 34.05, 34.15,
       34.25, 34.35, 34.45, 34.55, 34.65, 34.75, 34.85, 34.95, 35.05,
       35.15, 35.25, 35.35, 35.45, 35.55, 35.65, 35.75, 35.85, 35.95,
       36.05, 36.15, 36.25, 36.35, 36.45, 36.55, 36.65, 36.75, 36.85,
       36.95, 37.05, 37.15, 37.25, 37.35, 37.45, 37.55, 37.65, 37.75,
       37.85, 37.95, 38.05, 38.15, 38.25, 38.35, 38.45, 38.55, 38.65,
       38.75, 38.85, 38.95, 39.05, 39.15, 39.25, 39.35, 39.45, 39.55,
       39.65, 39.75, 39.85, 39.95, 40.05, 40.15, 40.25, 40.35, 40.45,
       40.55, 40.65, 40.75, 40.85, 40.95, 41.05, 41.15, 41.25, 41.35,
       41.45, 41.55, 41.65, 41.75, 41.85, 41.95, 42.05])

In [178]:
lons[:].data[0]

-124.45

In [184]:
df = pd.DataFrame(
    prcp[0,:,:].data,
    index = [round(100*x)/100 for x in lons[:].data],
    columns = lats[:].data
)
df.index.names = ['lon']
df

,32.45,32.55,32.65,32.75,32.85,32.95,33.05,33.15,33.25,33.35,...,41.15,41.25,41.35,41.45,41.55,41.65,41.75,41.85,41.95,42.05
lon,,,,,,,,,,,,,,,,,,,,,
-124.45,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.624000,0.624000,0.528000,0.000000,0.411429,0.000000,0.325714,0.582857,0.308571,0.617143
-124.35,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.788571,0.590769,0.590769,0.387692,0.313846,0.000000,1.052308,1.052308,0.941538,0.590769
-124.25,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,1.182857,0.942857,0.377143,0.572308,1.015385,1.236923,1.052308,1.200000,0.000000,0.000000
-124.15,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,2.473846,0.295385,0.073846,0.313846,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
-124.05,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.073846,0.221538,0.221538,0.018462,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
-114.45,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.051429,0.051429,0.000000,0.000000,0.000000,0.000000,0.120000
-114.35,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.051429,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
-114.25,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
-114.15,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
-114.05,0.0,0.0,0.0,0.0,0.370909,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [181]:
t = times[:].data[0]
t

NameError: name 'times' is not defined

In [ ]:
lat

In [171]:
print('%7.3f %s' % (prcp[0,1,2], prcp.units))

  0.000 mm/day