In [4]:
# Dependencies
import pandas as pd
import fns as f

In [132]:
yr = 2013
# Get dates to pull fire data
dt = [f'{str(x.date())}' for x in pd.date_range(str(yr)+"-01-01", str(yr)+"-12-31", freq="D")]
# Get dates and range (Date format is %Y-%m-%d, Range is 1-10 days)
dt_rng = []
for i in range(0,int(f.roundby(len(dt)/10+0.5,1))):
    dt_rng.append([dt[10*i],min(10,len(dt)-10*i)])
    i+=1
dt_rng[-1]

['2013-12-27', 5]

In [133]:
df = pd.DataFrame(columns=['latitude','longitude','bright_ti4','scan','track',
                           'acq_date','acq_time','satellite','instrument',
                           'confidence','version','bright_ti5','frp','daynight','type'])

In [134]:
for dr in dt_rng:
    if dr == dt_rng[0]:
        df = pd.read_csv(f'../outputs/nasa-firms/{yr}/{dr[0]}_{dr[1]}.csv').drop(columns=['Unnamed: 0'])
    else:
        df = pd.concat([df,pd.read_csv(f'../outputs/nasa-firms/{yr}/{dr[0]}_{dr[1]}.csv').drop(columns=['Unnamed: 0'])])
df = df.loc[df['confidence']!='l']
df.tail()

,latitude,longitude,bright_ti4,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_ti5,frp,daynight,type
156,38.02411,-122.06400,295.19,0.43,0.62,2013-12-31,1054,N,VIIRS,n,2,280.21,1.62,N,2
157,34.13628,-117.31633,332.08,0.50,0.41,2013-12-31,2034,N,VIIRS,n,2,298.96,3.76,D,0
158,35.90739,-114.94786,335.33,0.40,0.37,2013-12-31,2034,N,VIIRS,n,2,292.36,1.80,D,0
159,39.54564,-115.92485,327.63,0.39,0.37,2013-12-31,2035,N,VIIRS,n,2,278.99,2.22,D,0
160,41.49223,-120.70424,335.90,0.52,0.42,2013-12-31,2036,N,VIIRS,n,2,286.09,7.42,D,0

In [135]:
df['type'].unique()

array([2, 0, 3], dtype=int64)

In [136]:
df = df.loc[df['type']!=3]

In [137]:
df.to_csv(f'../outputs/nasa-firms/{yr}.csv',index=False)